<!DOCTYPE html>
<html>

<head>
    <title>Veterinary Clinic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/template.css">
</head>

<body>
<div>
    <h1>Bel Veterinary Clinic</h1>
</div>

<div>
    <div class="menu">
        <a href="/signin">SignIn</a>
        <a href="/owners">SignUp</a>
        <a href="/appointment">Book an appointment</a>
    </div>
    <div class="main">
        <h2>Register to book an appointment</h2>
        <hr>
        <p>Our clinic provides services for your pet. You can book an appointment right!"</p>
        <img src="static/vetimg.jpg" style="max-width:100%;height:auto;">
    </div>

    <div class="right">
        <h2>About</h2>
        <p>Our clinic has many services for your pet.</p>
        <img src="static/vertical.jpg" style="max-width:100%;height:auto;">
    </div>
</div>
</body>
</html>