<!DOCTYPE html>
    <html>

        <head>
            <title>Veterinary Clinic {{.Clinic}}</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="static/template.css">
        </head>

        <body>
            <div style="background-color:#4CB0CF;padding:15px;text-align:center;">
                <h1>Tito Veterinary Clinic</h1>
            </div>    

            <div style="overflow:auto">
                <div class="menu">
                  <a href="#">Login</a>
                  <a href="#">Book an appointment</a>
                  <a href="#">Doctors</a>
                  <a href="#">Location</a>
                </div>
                <div class="main">
                    <h2>Register to book an appointment</h2>
                    <hr>
                    <p>Our clinic provides services for your pet. You can book an appointment and right now"</p>
                    <img src="static/vetimg.jpg" style="max-width:100%;height:auto;">
                </div>

                <div class="right">
                    <h2>About</h2>
                    <p>Our clinic has many services for your pet.</p>
                    <img src="static/vertical.jpg" style="max-width:100%;height:auto;">
                </div>
            </div>  
        </body>
        <div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© Roberta Madge</div>
</html>